.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: rgb(65, 63, 63);
  width: 72px;
  z-index: 200;
  padding-bottom: 5px;
}
.sidebar-link {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(179, 162, 162);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.text {
  color: black;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
